

*,html,body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0%;
}


body{
  background-color: lightblue;
}

#api-response{
  font-size: 5rem;
}

#parent{
  display: flex;
  font-size: 10rem;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.child{
  display: flex;
  font-size: 6rem;
  height: 70rem;
  width: 40rem;
  margin: 1.2rem;
  border: solid black 0.8rem;
  border-radius: 2rem;
  background-color: palevioletred;
  color: black;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.Title{
  display: flex;
  font-size: 10rem;
  align-content: center;
 
}

.img{
  display: flex;
  width: 20rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.desc{
  font-size: 3rem;
}

button{
 width: 25rem;
 height: 8rem;
}

