:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,html,body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0%;
}


body{
  background-color: lightblue;
}

#api-response{
  font-size: 5rem;
}

#parent{
  display: flex;
  font-size: 10rem;
  flex-wrap: wrap;
}

.child{
  display: flex;
  font-size: 8rem;
  width: 40rem;
  margin: 1.3rem;
  border: solid black 0.8rem;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-color: palevioletred;
  border-radius: 2rem;
  flex-wrap: wrap;
  
}


